/* slider styles */

.swiper-container {
  margin: auto -3rem auto;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide img {
  width: 50%;
  margin: 20px auto;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-end;
}

.swiper-pagination {
}

img.landscape {
  width: 100%;
}

@media (min-width: 1024px) {
  .swiper-slide img {
    width: auto;
    margin: auto;
  }

  .swiper-container {
    margin: auto 0;
  }
}
