@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-purple-light;
  }
  h1 {
    @apply mb-4 font-headline text-8xl font-light leading-none tracking-tight text-white md:text-5xl lg:text-6xl;
  }
  h3 {
    @apply font-body text-2xl uppercase text-purple-light;
  }
  p {
    @apply font-body text-base tracking-wider;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-container {
  height: auto;
  /* width: 100%; */
  width: calc(100% + 4rem);
  margin-left: -2rem;
  display: flex;
  flex-direction: column;
}

.swiper-container.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events {
  margin: 0;
  margin-left: -2rem;
}

.swiper-container.swiper-container-initialized.swiper-container-horizontal {
  margin-left: -2rem;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide img {
  width: 50%;
  margin: 20px auto;
}

.swiper-wrapper {
  display: flex;
  order: 1;
  width: calc(100% + 4rem);
}

.swiper-pagination-bullet-active {
  border-bottom: 2px solid white;
}
.swiper-pagination {
  order: 3;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  font-variant: small-caps;
}
.test {
  color: white;
  display: inline-flex;
}
